.image-trail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  overflow: visible;
}

.image-trail-wrapper .content__img {
  width: 200px;
  height: 220px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  will-change: transform, filter, opacity;
  pointer-events: none;
}

.image-trail-wrapper .content__img-inner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .image-trail-wrapper .content__img {
    width: 150px;
    height: 170px;
  }
}
