.circular-text {
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    transform-origin: center center;
}

.circular-text span {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform-origin: center center;
    text-align: center;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}